/ParticleSimulation/nbproject/private/
/ParticleSimulation/build/
/ParticleGenerator/nbproject/private/
/ParticleConfigGenerator/nbproject/private/
/ParticleConfigGenerator/build/
config/
/ParticleSimulation/src/jol/jol-cli/target/
/ParticleSimulation/src/jol/jol-core/target/