/ParticleSimulation/nbproject/private/
/ParticleSimulation/build/
/ParticleGenerator/nbproject/private/
/ParticleConfigGenerator/nbproject/private/
/ParticleConfigGenerator/build/
conf.txt
/ParticleSimulation/src/jol/
.DS_Store
/ParticleSimulation/src/particlesimulation/*.class
